.vscode/**
.vscode-test/**
src/**
.gitignore
**/tsconfig.json
**/*.map
node_modules/**
!node_modules/node-pty/package.json
!node_modules/node-pty/lib/**
eslint.config.mjs
scripts/**
test/**
.github/**
